<header class="nav-bar">
    <nav class="nav">
        <div class="nav-left">
            <a id="logo" href="/">
                <!--<img src="/assets/img/logo-white.png" />-->
                <h1>SigneT Class Owners Association Noticeboard</h1>
            </a>
        </div>
        <!--
        <div class="nav-right">
            <div id="links">
                <a href="/events">
                    <h2>Events</h2>
                </a>
                <a href="/results">
                    <h2>Results</h2>
                </a>
                <a href="/photos">
                    <h2>Photos</h2>
                </a>
                <a href="https://signet.stitchprint.co.uk">
                    <h2>Clothing</h2>
                </a>
            </div>
            <a href="javascript:void(0);" id="hamburger" class="icon" onclick="showMenu()">
                <i id="hamburger-icon" class="fa fa-bars"></i>
            </a>
        </div>
    -->
    </nav>
    <script>
        function showMenu() {
                var x = document.getElementById("links");
                if (x.style.display === "block") {
                    x.style.display = "none";
                } else {
                    x.style.display = "block";
                }
            }
    </script>
</header>
