
@import 'navbar';
@import 'page';

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-family: "Arial", sans-serif;
}

@media only screen and (max-width: 1500px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 1000px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}


body {
    background-color: #f5f5f9;
}

h2 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: 700;
    text-align: center;
}

.banner {
    margin: 0px;
    
    img {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        display: block;
    }
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 30px;
    background-color: white;
    border-radius: .375rem;
    padding: 1.5em;
    font-size: 1.2em;
}

a {
    color: black;
}

.info {
    p {
        margin-top: 5px;
        margin: 0px;
        text-align: left;
    }

    .title {
        font-size: 500;
        font-weight: bold;
    }

    .location,
    .description {
        font-size: medium;
        font-weight: 400;
    }

    .dates {
        font-size: small;
        color: #404040;
    }
}

.icon {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    padding: 10px;

    img {
        width: 100%;
    }
}



.inside-article {
    padding: 20px;
}

.is-layout-flex {
    display: flex;
}

.wp-block-columns {
    display: inline-flex;
    margin-bottom: 1.75em;
    box-sizing: border-box;
    flex-wrap: wrap !important;
    align-items: normal !important;
}

@media (min-width: 1100px) {
    .wp-block-columns {
        flex-wrap: nowrap !important;
    }

}

.home-img img,
.photo-img img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.wp-block-image img {
    box-sizing: border-box;
}

.wp-block-image img {
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
}

.home-img a,
.photo-img a {
    color: #fff;
    text-decoration: none;
}

.home-img figcaption,
.photo-img figcaption {
    background-color: #36a3f7;
    color: #fff;
    font-size: 1.2em;
    padding: 10px 3px;
    margin-top: -7px;
    margin-bottom: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.wp-block-image figcaption {
    font-size: 20px;
    text-align: center;
}

figcaption {
    display: block;
}

figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 20px;
    margin-inline-end: 20px;
}

.center {
    margin: auto;
    width: 50%;
    padding: 5px;
    display: block;
}

.title {
    text-align: center;
    h1 {
        text-align: center;
    }
}
