p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
    font-family: "Arial", serif;
}

body {
    background-color: #f5f5f9 !important;
    background-size: cover;
    width: auto !important;
    overflow-x: hidden !important;
    font-family: "Arial", serif;
}


.page {
    text-align: left;
    .content {
        margin: 20px;
    }

    h1 {
        text-align: left;
        font-weight: 800 !important;
        color: black;
        margin-bottom: 0.7em;
        margin-left: 20px;
        margin-top: 20px;
    }

    h2 {
        text-align: left !important;
        font-weight: 800 !important;
        color: black;
        margin-bottom: 0.5em;
        margin-left: 20px;
        margin-top: 20px;
        font-size: 20px;
    }

    h3 {
        font-weight: 600 !important;
        text-align: left !important;
        color: black;
        font-size: 1.3rem;
    }

    h4 {
        font-weight: 600 !important;
        text-align: center !important;
        color: black;
    }

    h5 {
        margin-left: 20px;
    }

    p {
        color: black;
        font-weight: 500;
        margin: 20px;
    }

    td {
        color: black;
    }

    th {
        color: black;
    }

    li {
        color: black;
    }
    a {
        color: #36a3f7;
        &:hover {
            color: #3642F7;
        }
    }
}

.post {
    margin-left: 40px;
    margin-bottom: 50px;
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        object-fit: cover;
        border-radius: 7px;
    }
    p {

        margin-right: 30%;
    }
}

@media screen and (max-width: 768px) {

    .page h1 {
        font-size: 1.5rem !important;
    }

    .page h2 {
        font-size: 1.2rem !important;
    }

    .page h4 {
        font-size: 0.8rem !important;
    }
    .post {
        p {
        
                margin-right: 15%;
            }
    }
}